.footer {
    text-align: center;
	background-image: url("IMG/bg.jpg");
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
};

.copyright {
    color: white;
    font-size: 13px;
    margin: 20px 0 0;
}