.button-std {
    font-size: 16px;
    font-weight: 500;
    padding: 12px 20px;

    color: #DBFFFF;
    background: rgb(69,228,44);
    background: linear-gradient(90deg, rgba(69,228,44,1) 0%, rgba(24,121,9,1) 35%);

    border: none;
    border-radius: 8px;
}