<section>
    <div class="main-content">
        <span>SOFTWARE DEVELOPER</span>
        <h1>Eduardo Corrêa</h1>
        <p>Atualmente sou estudante de Tecnologia em Análise e Desenvolvimento de Sistemas na Universidade Presbiteriana Mackenzie.<br><br>
        Realizo minhas atividades com excelência e busco sempre me especializar de forma à agregar na execução do meu trabalho e também no desenvolvimento dos meus colegas de equipe.<br><br>
        Estimo o trabalho em equipe e sou sempre proativo em apoiar e inspirar de forma que possibilite atingir os resultados desejados.<br><br>
        Experiência de 2 anos na área de Relações Trabalhistas e Sindicais Corporativo na Whirlpool Latin America por meio de contrato de aprendizagem com o ESPRO - Ensino Social Profissionalizante.<br><br>
        Experiência de 1 ano e 4 meses na função de Office Boy na Associação dos Advogados de São Paulo - (AASP).<br><br>
        Experiência de 1 ano e 6 meses na função de Assistente Administrativo - Back-Office/Atendimento na Associação dos Advogados de São Paulo - (AASP).<br><br>
        Experiência de 3 anos empreendendo.<br><br>
        Experiência de 2 anos na função de Desenvolvedor - Abap na Numen IT.</p>
        <button-std text="Download CV" (click)="DownloadFile()"></button-std>
    </div>
    <app-image></app-image>
</section>